{# templates/_sections/hero-sections/hero-arrow.twig #}

{% set defaults = {
    backgroundColor: 'bg-foxplan-yellow',
    heading: 'Insurance',
    imagePath: 'images/Insurance_1.jpg',
    bodyText: 'Kiwis are a laidback bunch, but our ‘she’ll be right’ attitude also means that many of us are underinsured...',
    buttonText: 'Get in touch',
    buttonUrl: '#',
    buttonBgColor: 'bg-foxplan-charcoal-brown',
    buttonTextColor: 'text-foxplan-yellow',
    textColor: 'text-foxplan-charcoal-brown'
} %}

{% set data = defaults | merge(props | default({})) %}

<section class="w-full py-16 {{ data.backgroundColor }} overflow-hidden">
    {# Header Row #}
    <div class="max-w-full mx-auto px-8 mb-8">
        <div class="flex items-center gap-4">
            <div class="items-center">
                {# Static Black Arrow SVG #}
                <svg width="100%" height="15" viewBox="0 0 336 15" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">

                    <path d="M335.707 8.07107C336.098 7.68055 336.098 7.04739 335.707 6.65686L329.343 0.2929C328.953 -0.0976243 328.319 -0.0976243 327.929 0.2929C327.538 0.683424 327.538 1.31659 327.929 1.70711L333.586 7.36397L327.929 13.0208C327.538 13.4113 327.538 14.0445 327.929 14.435C328.319 14.8256 328.953 14.8256 329.343 14.435L335.707 8.07107ZM0 7.36397V8.36397H1.99405V7.36397V6.36397H0V7.36397ZM5.98214 7.36397V8.36397H9.97024V7.36397V6.36397H5.98214V7.36397ZM13.9583 7.36397V8.36397H17.9464V7.36397V6.36397H13.9583V7.36397ZM21.9345 7.36397V8.36397H25.9226V7.36397V6.36397H21.9345V7.36397ZM29.9107 7.36397V8.36397H33.8988V7.36397V6.36397H29.9107V7.36397ZM37.8869 7.36397V8.36397H41.875V7.36397V6.36397H37.8869V7.36397ZM45.8631 7.36397V8.36397H49.8512V7.36397V6.36397H45.8631V7.36397ZM53.8393 7.36397V8.36397H57.8274V7.36397V6.36397H53.8393V7.36397ZM61.8155 7.36397V8.36397H65.8036V7.36397V6.36397H61.8155V7.36397ZM69.7917 7.36397V8.36397H73.7798V7.36397V6.36397H69.7917V7.36397ZM77.7679 7.36397V8.36397H81.756V7.36397V6.36397H77.7679V7.36397ZM85.7441 7.36397V8.36397H89.7321V7.36397V6.36397H85.7441V7.36397ZM93.7203 7.36397V8.36397H97.7084V7.36397V6.36397H93.7203V7.36397ZM101.696 7.36397V8.36397H105.685V7.36397V6.36397H101.696V7.36397ZM109.673 7.36397V8.36397H113.661V7.36397V6.36397H109.673V7.36397ZM117.649 7.36397V8.36397H121.637V7.36397V6.36397H117.649V7.36397ZM125.625 7.36397V8.36397H129.613V7.36397V6.36397H125.625V7.36397ZM133.601 7.36397V8.36397H137.589V7.36397V6.36397H133.601V7.36397ZM141.577 7.36397V8.36397H145.566V7.36397V6.36397H141.577V7.36397ZM149.554 7.36397V8.36397H153.542V7.36397V6.36397H149.554V7.36397ZM157.53 7.36397V8.36397H161.518V7.36397V6.36397H157.53V7.36397ZM165.506 7.36397V8.36397H169.494V7.36397V6.36397H165.506V7.36397ZM173.482 7.36397V8.36397H177.47V7.36397V6.36397H173.482V7.36397ZM181.458 7.36397V8.36397H185.447V7.36397V6.36397H181.458V7.36397ZM189.435 7.36397V8.36397H193.423V7.36397V6.36397H189.435V7.36397ZM197.411 7.36397V8.36397H201.399V7.36397V6.36397H197.411V7.36397ZM205.387 7.36397V8.36397H209.375V7.36397V6.36397H205.387V7.36397ZM213.363 7.36397V8.36397H217.351V7.36397V6.36397H213.363V7.36397ZM221.339 7.36397V8.36397H225.327V7.36397V6.36397H221.339V7.36397ZM229.316 7.36397V8.36397H233.304V7.36397V6.36397H229.316V7.36397ZM237.292 7.36397V8.36397H241.28V7.36397V6.36397H237.292V7.36397ZM245.268 7.36397V8.36397H249.256V7.36397V6.36397H245.268V7.36397ZM253.244 7.36397V8.36397H257.232V7.36397V6.36397H253.244V7.36397ZM261.22 7.36397V8.36397H265.208V7.36397V6.36397H261.22V7.36397ZM269.197 7.36397V8.36397H273.185V7.36397V6.36397H269.197V7.36397ZM277.173 7.36397V8.36397H281.161V7.36397V6.36397H277.173V7.36397ZM285.149 7.36397V8.36397H289.137V7.36397V6.36397H285.149V7.36397ZM293.125 7.36397V8.36397H297.113V7.36397V6.36397H293.125V7.36397ZM301.101 7.36397V8.36397H305.089V7.36397V6.36397H301.101V7.36397ZM309.078 7.36397V8.36397H313.066V7.36397V6.36397H309.078V7.36397ZM317.054 7.36397V8.36397H321.042V7.36397V6.36397H317.054V7.36397ZM325.03 7.36397V8.36397H329.018V7.36397V6.36397H325.03V7.36397ZM333.006 7.36397V8.36397H335V7.36397V6.36397H333.006V7.36397Z" fill="#000000"/>

                </svg>
            </div>
            <h2 class="font-serif text-6xl md:text-8xl tracking-tight {{ data.textColor }} whitespace-nowrap">
                {{ data.heading }}
            </h2>
        </div>
    </div>

    {# Content Grid #}
    <div class="flex flex-wrap lg:flex-nowrap items-end">
        {# Image Column #}
        <div class="w-full lg:w-[70%]">
            <div class="relative w-full aspect-[16/9] lg:aspect-auto lg:h-[600px] overflow-hidden">
                <img src="{{ craft.vite.asset(data.imagePath, false) }}"
                     alt="{{ data.heading }}"
                     class="w-full h-full object-cover">
            </div>
        </div>

        {# Text Column #}
        <div class="w-full lg:w-[30%] px-8 lg:px-12 pb-12 space-y-6">
            <p class="font-aktiv text-base leading-relaxed {{ data.textColor }} opacity-90">
                {{ data.bodyText }}
            </p>

            {# Button Component Implementation #}
            {% if data.buttonText %}
                {% include '_components/ui/button/button.twig' with {
                    props: {
                        text: data.buttonText,
                        style: 'primary',
                        url: data.buttonUrl,
                        backgroundColor: data.buttonBgColor,
                        textColor: data.buttonTextColor,
                        classes: 'mb-[40px]'
                    }
                } only %}
            {% endif %}
        </div>
    </div>
</section>